.profile{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.inner{
  margin-top: 220px;
}
.jumbotron {
  background-image:url("https://i.ibb.co/2P7P8YD/about-us-hero-3x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.jumbotron h1{
  font-family: CeraPRO;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.jumbotron p {
  max-width: 220.5px;
  font-family: Lora;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Sign-in-Button {
  background-color: #af5010 !important;
  font-family: CeraPRO;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.btn-xs {
  padding: 1px 6px;
}
.idea-logo {
  width: 70px;
  height: 32.5px;
  object-fit: contain;
}
.menu a {
  font-family: CeraPRO;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-links {
  margin-left: 55vh;
}







.chat {
  width: 141.9px;
  height: 91.8px;
  object-fit: contain;
}

.media {
  margin-top: 21px;
  margin-bottom: 21px;
  font-family: Cera Pro;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #114058;
}

.intro {
  background-color: #f0f3f7;
  min-width: 300px;
}

h1 {
  font-family: CeraPRO;
  font-size: 14.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #114058;
}


p {
  font-family: Cera Pro;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #114058;
}

.card-header {
  background-color: white;
  margin-bottom: 0;
}
.roster {
  margin-bottom: 160px;
}

.card-body img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-body h5 {
  font-family: Lora;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #114058;
}
#management-sum {
  max-width: 321.5px;
  font-family: Cera Pro;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #114058;
}
.card-body p {
  font-family: Cera Pro;
  font-size: 9px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #114058;
}
.Asset-1 {
  width: 131.6px;
  height: 126.7px;
  object-fit: contain;
}
.card{
  width: 90vh;
}

#cross1 {
  position: absolute;
  margin-top: 100px;
  left:0;
}
#cross2 {
   position: absolute;
   margin-top: 300px;
   right:0;
 }
#cross3 {
  position: absolute;
  margin-top: 600px;
  left:0;
}
